**/frontend/.dart_tool/
**/frontend/build/
**/frontend/.flutter-plugins
**/frontend/.flutter-plugins-dependencies

**/frontend/**/doc/api/ 
**/frontend/.flutter-plugins
**/frontend/.flutter-plugins-dependencies
**/frontend/**/generated_plugin_registrant.dart
**/frontend/.packages
**/frontend/.pub-preload-cache/
**/frontend/.pub-cache/
**/frontend/.pub/
**/frontend/linked_*.ds
**/frontend/unlinked.ds
**/frontend/unlinked_spec.ds

**/backend/.env
**/backend/node_modules/
#Backup restoration folders
**/BACKUPS
**/RESTORE_DB
**/RESTORE_IMAGES

#Public downloads
**/public_docs
**/public_download
**/public_upload
**/public_files
**/public_audio
**/public
**/pdf_clients
**/pdf_credits
**/pdf_sessions_pv
**/_lab
**/sync

**/chat/.env
**/chat/node_modules

**/sig/.env
**/sig/node_modules

# web
**/web/node_modules