**/frontend/.dart_tool/
**/frontend/build/
**/frontend/.flutter-plugins
**/frontend/.flutter-plugins-dependencies

**/frontend/**/doc/api/ 
**/frontend/.flutter-plugins
**/frontend/.flutter-plugins-dependencies
**/frontend/**/generated_plugin_registrant.dart
**/frontend/.packages
**/frontend/.pub-preload-cache/
**/frontend/.pub-cache/
**/frontend/.pub/
**/frontend/linked_*.ds
**/frontend/unlinked.ds
**/frontend/unlinked_spec.ds

**/backend/.env
**/backend/node_modules/

**/chat/.env
**/chat/node_modules

**/sig/.env
**/sig/node_modules